.register-btn{
    color: #289BDE;
    text-decoration: none;
    border: 1px solid;
    padding: 10px 20px;
}

.register-btn:hover{
    color: white;
    background-color: black;
}

.img-darken{
    filter: brightness(60%);
}

@media only screen and (max-width: 767px) {
    .carousel-caption{
        width: 80% !important;
        margin-top: -45px;
    }
    .carousel-caption h2{
        font-size: 18px !important;
        line-height: 25px;
    }
    .carousel-caption p{
        font-size: 12px !important;
        line-height: 15px;
    }
    #courses .section-heading{
        width: 90% !important;
    }
    .section-heading h2, h1{
        font-size: 20px !important;
    }
    .section-heading p{
        width: 100% !important;
    }
}
